html,
body{

margin: 0;
padding: 0;
}

.bg-site{

    position: relative;
    top:0;
    width: 100%;
    height: auto;
    background: url('/img/branch-dawn-environment-1028462.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 0;
    
}
.bg-blog{

    position: relative;
    top:0;
    width: 100%;
    height: auto;
    background: url('/img/daylight-environment-forest-459225.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 0;
    
}

.bg-products{

    position: relative;
    top:0;
    width: 100%;
    height: auto;
    background: url('/img/black-contemporary-dark-270435.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 0;
    
}
.bg-portofolio{

    position: relative;
    top:0;
    width: 100%;
    height: auto;
    background: url('/img/bg-portofolio.png') no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 0;
    
}

.bg-products {

    position: relative;
    top:0;
    width: 100%;
    height: auto;
    background: url('/img/black-contemporary-dark-270435.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 0;
}

.bg-products::before,
.sec2::before,
.contact::before{

    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 400px;
    background: linear-gradient(#000,transparent);
    pointer-events: none;
    
}

.bg-products::after,
.sec2::after,
.contact::after{

    content:'';
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height: 400px;
    background: linear-gradient(360deg,rgba(0, 0, 0, 0.425),transparent);
    pointer-events: none;
    
}


.bg-custom{
background-color:  rgba(0, 0, 0, 0.472);
}


.carousel-caption{
    top:200px;
}
.carousel-item {
    height: 50vh;
    min-width: auto;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*---Firefox Bug Fix --*/
.carousel-item {
transition: -webkit-transform 0.5s ease;
transition: transform 0.5s ease;
transition: transform 0.5s ease, -webkit-transform 0.5s ease;
-webkit-backface-visibility: visible;
        backface-visibility: visible;
}
 h2, h3, h4 {
    color: black;
}

pre {
    background: black;
}
pre > code {
    color: white;
}
  @media only screen and (max-width: 600px) {
    .mobile-text{
        font-size: 18px;
    }
  }