html,
body{

margin: 0;
padding: 0;
}

.bg-site{

    position: relative;
    top:0;
    width: 100%;
    height: auto;
    background: url('/img/branch-dawn-environment-1028462.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 0;
    
}
.bg-blog{

    position: relative;
    top:0;
    width: 100%;
    height: auto;
    background: url('/img/daylight-environment-forest-459225.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 0;
    
}

.bg-products{

    position: relative;
    top:0;
    width: 100%;
    height: auto;
    background: url('/img/black-contemporary-dark-270435.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 0;
    
}


.bg-products {

    position: relative;
    top:0;
    width: 100%;
    height: auto;
    background: url('/img/black-contemporary-dark-270435.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 0;
}

.bg-products::before,
.sec2::before,
.contact::before{

    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 400px;
    background: linear-gradient(#000,transparent);
    pointer-events: none;
    
}

.bg-products::after,
.sec2::after,
.contact::after{

    content:'';
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height: 400px;
    background: linear-gradient(360deg,#000,transparent);
    pointer-events: none;
    
}


.bg-custom{
background-color:  rgba(0, 0, 0, 0.472);
}