<footer class="footer bg-black text-600 py-4 text-sans-serif text-center overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 order-lg-2">
              <a class="indicator indicator-up" href="#top" data-fancyscroll="data-fancyscroll">
                <span class="indicator-arrow indicator-arrow-one" 
                  data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.9}'>
                </span>
                <span class="indicator-arrow indicator-arrow-two" 
                  data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":1.05}'>
                </span></a>
            </div>
            <div class="col-lg-4 text-lg-left mt-4 mt-lg-0">
              <div class="fs--1 text-uppercase ls font-weight-bold mb-0">
                  &copy;  {{ with .Site.GetPage "section" "footer" }}{{ .Title }}{{ end }}
              </div>
            </div>
            <div class="col-lg-4 text-lg-right order-lg-2 mt-2 mt-lg-0">
              <div class="fs--1 text-uppercase ls font-weight-bold mb-0">
                 {{ with .Site.GetPage "section" "footer" }}{{ .Content }}{{ end }}
              </div>
            </div>
          </div>
        </div>
      </footer>
        <script src="https://sparrow-theme.o.auroraobjects.eu/sparrow/assets/js/jquery.min.js"></script>
        <script src="https://sparrow-theme.o.auroraobjects.eu/sparrow/assets/js/popper.min.js"></script>
        <script src="https://sparrow-theme.o.auroraobjects.eu/sparrow/assets/js/bootstrap.js"></script>
        <script src="https://sparrow-theme.o.auroraobjects.eu/sparrow/assets/js/plugins.js"></script>
        <script src="https://sparrow-theme.o.auroraobjects.eu/sparrow/assets/lib/loaders.css/loaders.css.js"></script>
        <script src="https://sparrow-theme.o.auroraobjects.eu/sparrow/assets/js/stickyfill.min.js"></script>
        <script src="https://sparrow-theme.o.auroraobjects.eu/sparrow/assets/lib/remodal/remodal.js"></script>
        <script src="https://sparrow-theme.o.auroraobjects.eu/sparrow/assets/lib/jtap/jquery.tap.js"></script>
        <script src="https://sparrow-theme.o.auroraobjects.eu/sparrow/assets/js/rellax.min.js"></script>
        <script src="https://sparrow-theme.o.auroraobjects.eu/sparrow/assets/lib/owl.carousel/owl.carousel.js"></script>
        <script src="https://sparrow-theme.o.auroraobjects.eu/sparrow/assets/js/theme.js"></script>
        <script src="https://sparrow-theme.o.auroraobjects.eu/sparrow/assets/ajax.js" type="text/javascript"></script>
        <script src="/js/jquery.vide.js"></script>
        <script src="https://sparrow-theme.o.auroraobjects.eu/sparrow/assets/render.js" type="text/javascript"></script>
      </body>
    </html>