{{  partial "head" . }}
 {{ partial "navbar" . }}
   
            <div class="bg-products p-0" id="top">
                <div class="row justify-content-center">
                    <div class="col-sm bg-custom rounded ">
                        <h2 class="display-4 text-warning p-8 parallax">{{ .Title }}</h2>
                            <div class="container">
                                {{ partial "cards_slider" . }}
                            </div>
                        <br>
                        <br>
                        
                        <div class="container">
                                {{ .Content }}
                        </div>
                        <div class="conatiner">
                                {{ partial "table" . }}
                        </div>

                        <div class="container">
                            <div class="row justify-content-center">
                                <a class="text-danger" href="/products">&xlarr; Back to products </a>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row justify-content-center">
                                  <a class="btn btn-outline-danger mt-2 mb-5" href="/#digital-contact">&xrarr; Contact Us!  </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


{{ partial "footer" . }}